<a href="https://colab.research.google.com/github/renad29amr/Juniors-2026/blob/main/session_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# =============================
# Student Performance System
# =============================

# Global data storage
students = []        # list of dictionaries
passed_students = set()
failed_students = set()

print("Welcome to Student Performance System")

while True:
    print("\n1- Add Student")
    print("2- View Report")
    print("3- Exit")

    choice = input("Enter your choice: ")

    # ---------- match statement ----------
    match choice:
        case "1":
            name = input("Enter student name: ")

            marks = []
            for i in range(3):
                mark = float(input(f"Enter mark {i+1}: "))
                marks.append(mark)

            # ---------- Arithmetic operators ----------
            total = marks[0] + marks[1] + marks[2]
            average = total / 3

            # ---------- Comparison & Logical operators ----------
            if average >= 50 and all(m >= 40 for m in marks):
                status = "Pass"
                passed_students.add(name)
            else:
                status = "Fail"
                failed_students.add(name)

            # ---------- Dictionary ----------
            student = {
                "name": name,
                "marks": marks,
                "average": average,
                "status": status
            }

            students.append(student)
            print(f"{name} added successfully!")

        case "2":
            if len(students) == 0:
                print("No students found.")
                continue

            print("\n----- Student Report -----")

            # ---------- for loop ----------
            for student in students:
                print("Name:", student["name"])
                print("Marks:", student["marks"])
                print("Average:", student["average"])

                # ---------- if conditional ----------
                if student["status"] == "Pass":
                    print("Status: ✅ Passed")
                else:
                    print("Status: ❌ Failed")

                print("-" * 20)

            # ---------- Non-primitive types ----------
            print("Passed students:", passed_students)
            print("Failed students:", failed_students)

        case "3":
            print("Exiting program...")
            break

        case _:
            print("Invalid choice, try again!")

Welcome to Student Performance System

1- Add Student
2- View Report
3- Exit

KeyboardInterrupt: Interrupted by user

In [2]:
print("welcome to colab")
print("hello")

welcome to colab
hello

In [ ]:
value = 100

match value:
    case 100:
        print("Ten")
    case 20 | 100:
        print("Twenty or Thirty")
    case _:
        print("Something else")  # Output: Something else

Ten

In [ ]:
student = {"name": "Ali", "grade": "A"}

match student:
    case {"name": "Ali", "grade": "A"}:
        print("Excellent Ali!")  # Output: Excellent Ali!
    case {"name": "Ali"}:
        print("Ali is here")
    case _:
        print("Other student")

Excellent Ali!

In [ ]:
student = {"name": "Sara", "grade": "B"}

match student:
    case {"name": n, "grade": g}:
        print(f"{n} has grade {g}")  # Output: Sara has grade B

Ali has grade A

In [ ]:

for student in students:
    match student:
        case {"name": n, "grade": g}:
            print(f"{n} has grade {g}")

Sara has grade B
Ali has grade A

In [ ]:
students = [
    {"name": "Sara", "grade": "B"},
    {"name": "Ali", "grade": "A"}
]

for student in students:
    match student:
        case {"name": n, "grade": g}:
            print(f"{n} has grade {g}")

In [ ]:
flag = False
match (100, 200):
   case (100, 300):
       print('Case 1')
   case (100, 200) if flag:
       print('Case 2')
   case (100, y):
       print(f'Case 3, y: {y}')
   case _:
       print('Case 4, I match anything!')

Case 3, y: 200

In [ ]:
day = "Monday"

match day:
    case "Monday":
        print("Start of the week")
    case "Friday":
        print("Almost weekend")
    case _:
        print("Just another day")

Start of the week

In [ ]:
match [1, 2]:
    case [x, y]:
        print(f"x={x}, y={y}")  # x=1, y=2

x=1, y=2

In [ ]:
x = 1
match x:
    case 1 | 2 | 3:
        print("1, 2, or 3")

1, 2, or 3

In [ ]:
day = "Monday"

if day == "Monday":
    print("Start of the week")
elif day == "Friday":
    print("Almost weekend")
else:
    print("Just another day")

Start of the week

In [ ]:
day = "Monday"
match day:
    case "Monday":
        print("Start of the week")
    case "Friday":
        print("Almost weekend")
    case _:
        print("Just another day")

Start of the week

In [ ]:
student = {"name": "Ali", "grade": "A"}

match student:
    # case {"name": name, "grade": "A"}:
    #     print(name, "is excellent")
    case {"name": name, "grade": grade}:
        print(name, "has grade", grade)

Ali has grade A

In [ ]:
students = [
    {"name": "Sara", "grade": "B"},
    {"name": "Ali", "grade": "A"}
]

for student in students:
    match student:
        case {"name": name, "grade": "A"}:
            print(name, "is excellent")
        case {"name": name, "grade": "B"}:
            print(name, "is very Good")

Sara is very Good
Ali is excellent

In [ ]:
students = [
    {"name": "Sara", "grade": "B"},
    {"name": "Ali", "grade": "A"}
]

for student in students:
    if "name" in student and "grade" in student:
        if student["grade"] == "A":
            print(student["name"], "is excellent")
        elif student["grade"] == "B":
            print(student["name"], "is very Good")

Sara is very Good
Ali is excellent

In [ ]:
num = int(input("Enter a number: "))

if num % 2 == 0:
    print("Even number")
else:
    print("Odd number")

Odd number

In [ ]:
# x = 5
# x

5

In [ ]:
# y=6

In [ ]:
print((x:=6) == (y:=6))

True

In [ ]:
x

6

In [ ]:
y

5

In [ ]:
y > x

True

In [ ]:
z = y > x
z

True

In [ ]:
if (y >= x):
    print("y is greater than x")

y is greater than x

In [ ]:
# num -> check if it is even or odd
num = int(input("Enter a num: "))
if (num % 2 == 0):
    print("even")
else:
    print("odd")

odd

In [ ]:
# mix if && bool
age = 20
has_id = True

if age >= 18 and has_id:
    print("You can enter the club!")
if age < 18 or not has_id:
    print("You cannot enter")

You can enter the club!

### Write a Python program that:

Ask user to Enter 2 values ("Don't forget to assign it to 2 variables:)").

Checks the following conditions using if statements and prints a message for each condition:

If the sum of num1 and num2 is greater than 12, print:
"Sum is greater than 12"

If num1 is greater than num2, print:
"num1 is greater than num2"

If num1 is greater than 5 and num2 is less than 10, print:
"Both conditions are True"

If num2 is not greater than 10, print:
"num2 is not greater than 10"

In [ ]:
# Task in session
num1 = int(input("Enter 1st number: "))
num2 = int(input("Enter 2nd number: "))

if (num1 + num2) > 12:
    print("Sum is greater than 12")
if num1 > num2:
    print("num1 is greater than num2")

if num1 > 5 and num2 < 10:
    print("Both conditions are True")

if not (num2 > 10):
    print("num2 is not greater than 10")

Sum is greater than 12
num1 is greater than num2
Both conditions are True
num2 is not greater than 10

In [ ]:
print(x:=5)

5

In [ ]:
x

5

## while condition:
### --->You don’t know in advance how many times the loop should run
and the loop depends on a condition.
    statements
    if break_condition:
        break  <- exits loop
    if continue_condition:
        continue <- skips rest of this iteration
else:
    statements <- only runs if loop not broken

In [ ]:
# else block: Runs only if the loop ends naturally (the condition becomes False). It does not run if the loop is exited with break.

In [ ]:
password = ""
while password != "1234":
    password = input("Enter password: ")

In [ ]:
number = int(input("Enter a positive number: "))
while number <= 0:
    number = int(input("Try again: "))

In [ ]:
#First time using library
import getpass
count = 0
while True:
    password = getpass.getpass("Enter the password: ")
    if len(password) != 4 : # len(password) > 4 or len(password) < 4
        print("You must Enter 4 digits")
        continue
    count +=1
    if password == "1234":
        print("Correct password:)")
        break
    if (count == 3):
        print("Come back later")
        break
    print("Try again!!!")

In [ ]:
count = 0
while True:
    password = print(("Enter the password: "))
    if len(password) != 4 : # len(password) > 4 or len(password) < 4
        print("You must Enter 4 digits")
        continue
    count +=1
    if password == "1234":
        print("Correct password:)")
        break
    if (count == 3):
        print("Come back later")
        break
    print("Try again!!!")

In [ ]:
while True:
    x = float(input("Enter number (-1 to stop): "))
    if x == -1:
        break
    print(x * 2)

24.0

In [ ]:
i = 0
while i < 3:
    print(i)
    i += 1
else:
    print("Loop ended naturally")

0
1
2
Loop ended naturally

In [ ]:
i = 0
while i < 3:
    print(i)
    if i == 1:
        break
    i += 1
else:
    print("Loop ended naturally")

0
1

In [ ]:
i = -1
while (i:= i + 1) < 3:
    x = i * 2
    print(x)

0
2
4

In [ ]:
i = 0

while i < 3:
    x = i * 2  # x is declared inside the loop
    print(x)
    i += 1

print("Last x =", x)  # x still exists outside the loop

0
2
4
Last x = 4

In [ ]:
i = 0
while i < 5:
    i += 1
    z = i * 3
    if i % 2 == 0:
        continue
    print(z)

print("Last z =", z)

3
9
15
Last z = 15

In [ ]:
total = 0
for i in range(1,7):
    total+=i
print(total)

21

In [ ]:
for i in range(5):
    print(i)
    i = 10

print(i)

0
1
2
3
4
4

In [ ]:
for i in range(5):
    print(i)
else:
    print("Finished")

0
1
2
3
4
Finished

In [ ]:
for i in range(5):
    if i == 3:
        break
    print(i)
else:
    print("Finished")

0
1
2

In [ ]:
for i in range(5):
    if i == 3:
        continue
    print(i)
else:
    print("Finished")

0
1
2
4
Finished

In [ ]:
for i in range(3):
    pass

print(i)

2

In [ ]:
# This is a for loop with unpacking using a starred variable (*b).

# The list contains tuples:

# (1, 2, 3)
# (4, 5, 6)


# Each tuple is unpacked into:

# a → first element

# *b → all remaining elements as a list
for a, *b in [(1, 2, 3), (4, 5, 6)]:
    print(a, b)

1 [2, 3]
4 [5, 6]

In [ ]:
del sum

In [ ]:
records = [
    ("Ahmed", True,90, 85, 88),
    ("Sara", False,95, 92, 91)
]

for name, passed,*marks,  in records:
    print(name, passed,"Average:", sum(marks) / len(marks))

Ahmed True Average: 87.66666666666667
Sara False Average: 92.66666666666667

In [ ]:
records = [
    ("Ahmed", 90, 85, 88),
    ("Sara", 95, 92, 91)
]

for record in records:
    name = record[0]
    marks = record[1:]

    print(name, "Average:", sum(marks) / len(marks))

Ahmed Average: 87.66666666666667
Sara Average: 92.66666666666667

## Sets

In [ ]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket)                      # show that duplicates have been removed

print('orange' in basket)                 # fast membership testing

print('crabgrass' in basket)


# Demonstrate set operations on unique letters from two words

a = set('abracadabra')
b = set('alacazam')
print(a)                                  # unique letters in a

print(a - b)                              # letters in a but not in b

print(a | b)                              # letters in a or b or both

print(a & b)                              # letters in both a and b

print(a ^ b)                              # letters in a or b but not both

{'apple', 'pear', 'orange', 'banana'}
True
False
{'a', 'd', 'b', 'r', 'c'}
{'d', 'r', 'b'}
{'m', 'a', 'd', 'b', 'l', 'r', 'z', 'c'}
{'c', 'a'}
{'m', 'l', 'z', 'r', 'd', 'b'}

In [ ]:
a = {x for x in 'abracadabra' if x not in 'abc'}
a

{'d', 'r'}

In [ ]:
lst = [1, 2, 3]
tpl = (1, 2, 3)
st = {1, 2, 3}
dct = {'a': 1, 'b': 2}

print(len(lst))  # 3
print(len(tpl))  # 3
print(len(st))   # 3
print(len(dct))  # 2 (counts keys)

3
3
3
2

In [ ]:
print(2 in lst)      # True
print(2 in tpl)      # True
print(2 in st)       # True
print('a' in dct)    # True (checks keys)

True
True
True
True

In [ ]:
print("List:")
for x in lst:
    print(x)

print("Tuple:")
for x in tpl:
    print(x)

print("Set:")
for x in st:
    print(x)

print("Dict:")
for x in dct:  # iterates keys
    print(x)

List:
1
2
3
Tuple:
1
2
3
Set:
1
2
3
Dict:
a
b

In [ ]:
lst2 = [0, 0, 1]
tpl2 = (0, 0, 1)
st2 = {0, 0, 1}
dct2 = {0: 'a', 1: 'b'}  # keys used for truth test

print(any(lst2))  # True
print(any(tpl2))  # True
print(any(st2))   # True
print(any(dct2))  # True (1 key is truthy)

True
True
True
True

In [ ]:
lst3 = [1, 2, 3]
tpl3 = (1, 2, 3)
st3 = {1, 2, 3}
dct3 = {1:'a', 2:'b'}  # keys used

print(all(lst3))  # True
print(all(tpl3))  # True
print(all(st3))   # True
print(all(dct3))  # True

True
True
True
True

In [ ]:
print(sorted(lst))  # [1, 2, 3]
print(sorted(tpl))  # [1, 2, 3]
print(sorted(st))   # [1, 2, 3] (sets unordered, returned sorted)
print(sorted(dct))  # ['a', 'b'] (sorts keys)

[1, 2, 3]
[1, 2, 3]
[1, 2, 3]
['a', 'b']

In [ ]:
lst_num = [1, 2, 3]
tpl_num = (1, 2, 3)
st_num = {1, 2, 3}
dct_num = {1:10, 4:20}  # keys used

print(sum(lst_num))  # 6
print(sum(tpl_num))  # 6
print(sum(st_num))   # 6
print(sum(dct_num))  # 3 (sum of keys)

6
6
6
5

In [ ]:
print(min(lst))   # 1
print(min(tpl))   # 1
print(min(st))    # 1
print(min(dct))   # 'a' (min key)

1
1
1
a

In [ ]:
print(max(lst))   # 3
print(max(tpl))   # 3
print(max(st))    # 3
print(max(dct))   # 'b' (max key)

3
3
3
b

In [ ]:
lst_copy = lst.copy()
tpl_copy = tpl      # tuples immutable, assignment is copy
st_copy = st.copy()
dct_copy = dct.copy()

print(lst_copy)  # [1, 2, 3]
print(tpl_copy)  # (1, 2, 3)
print(st_copy)   # {1, 2, 3}
print(dct_copy)  # {'a':1, 'b':2}

[1, 2, 3]
(1, 2, 3)
{1, 2, 3}
{'a': 1, 'b': 2}

In [ ]:
lst4 = [1,2]; tpl4 = (1,2); st4={1,2}; dct4={'a':1}

lst4.clear();  # works
# tpl4.clear()  ❌ tuples immutable
st4.clear();
dct4.clear()

print(lst4)  # []
print(st4)   # set()
print(dct4)  # {}

[]
set()
{}

In [ ]:
for i in range(5):
    print(i)

In [ ]:
x = 1

In [ ]:
x = str(1)

In [ ]:
x

'1'

In [ ]:
x = float(15)

In [ ]:
x

15.0

In [ ]:
type(x)

float